<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}, {html:html}) %>

    <h2>Horarios</h2>
    <div class="row">
        <div class="col-xs-4 col-lg-4">
            <form class="form-inline my-2 my-lg-0" action="/refillSchedule" method="post">
                <button class="btn btn-success" type="submit">Rellenar campos</button>
            </form>
        </div>
        <div style="visibility: hidden">
            <div class="col-xs-4 col-lg-4">
                <form class="form-inline my-2 my-lg-0 hidden" action="/createSchedule" method="post">
                    <button class="btn btn-dark" type="submit">Crear Semana</button>
                </form>
            </div>
            <div class="col-xs-4 col-lg-4">
                <form class="form-inline my-2 my-lg-0 hidden" action="/deleteSchedule" method="post">
                    <button class="btn btn-danger" type="submit">Borrar Semana</button>
                </form>
            </div>
        </div>
    </div>


<%- include('../includes/end.ejs') %>

