<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {html:html}, {html:html}) %>

<h1>Horarios</h1>
&nbsp;
<h2>Lista de Días</h2>
<div class="row">
    <div class="col">
        <a class="btn btn-primary m-1 text-white" href="/schedule?day=Monday"> Lunes</a>
    </div>
    <div class="col">
        <a class="btn btn-dark m-1 text-white" href="/schedule?day=Tuesday"> Martes</a>
    </div>
    <div class="col">
        <a class="btn btn-primary m-1 text-white" href="/schedule?day=Wednesday"> Miercoles</a>
    </div>
    <div class="col">
        <a class="btn btn-dark m-1 text-white" href="/schedule?day=Thursday"> Jueves</a>
    </div>
    <div class="col">
        <a class="btn btn-primary m-1 text-white" href="/schedule?day=Friday"> Viernes</a>
    </div>
    <div class="col">
        <a class="btn btn-dark m-1 text-white" href="/schedule?day=Saturday"> Sabado</a>
    </div>
</div>
&nbsp;
<h2>Rellenar Campos</h2>
<div class="row">

    <div class="col-xs-4 col-lg-4">
        <form class="form-inline my-2 my-lg-0" action="/refillSchedule" method="post">
            <button class="btn btn-danger white" type="submit">Rellenar</button>
        </form>
    </div>
    <div style="visibility: hidden">
        <div class="col-xs-4 col-lg-4">
            <form class="form-inline my-2 my-lg-0 hidden" action="/createSchedule" method="post">
                <button class="btn btn-dark" type="submit">Crear Semana</button>
            </form>
        </div>
        <div class="col-xs-4 col-lg-4">
            <form class="form-inline my-2 my-lg-0 hidden" action="/deleteSchedule" method="post">
                <button class="btn btn-danger" type="submit">Borrar Semana</button>
            </form>
        </div>
    </div>
</div>


<%- include('../includes/end.ejs') %>

